@model IEnumerable<MvcToDo.Services.Item<Guid, string>>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<a asp-action="Index" asp-route-sort="asc">Sort Asc</a>&nbsp;
<a asp-action="Index" asp-route-sort="desc">Sort Desc</a>
<a asp-action="Index" asp-route-sort="Iddesc">Sort Desc</a>
<a asp-action="Index" asp-route-sort="Idasc">Sort Asc</a>&nbsp;
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="background-color: @item.Color">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @(item.IsCompleted ? "☑" : "☐")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>